node_modules
dist
.DS_Store
*.local
apps/demo/dist
packages/registry/storybook-static
apps/demo/playwright-report
apps/demo/test-results
apps/docs/.vitepress/dist
apps/docs/.vitepress/cache
apps/docs/public/registry
